<div>
    <button (click)="onAddTestTask()">Add new TestTask</button>
    <button (click)="onAddTopic()">Add new Topic</button>
    <a routerLink="../edit">added</a>
</div>
<div class="leftSide">
    <app-filter-bar (onFilterChanged)="onFilterBarFilterChanged($event)" (onOnlyTopicsChanged)="onFilterBarTopicFilterChanged($event)"></app-filter-bar>
    <app-backlog-topic
        *ngFor="let topic of myTopics | topicKindFilter: currentTopicKindFilter"
        [TopicId]="topic.id" [ShowOnlyTopics]="currentOnlyTopicsFilter">
    </app-backlog-topic>
</div>
<div>
    <router-outlet></router-outlet>
</div>


