<form> 
    <h3>Backlog-Filter:</h3> 
    <fieldset>
      <ul>
        <li> 
          <label>
            <input type="checkbox" name="Feature" [(ngModel)]="featureChecked" (change)="onCheckedChange()">
            Feature
          </label>
        </li>
        <li> 
          <label>
             <input type="checkbox" name="Refactoring" [(ngModel)]="refactoringChecked" (change)="onCheckedChange()">
             Refactoring
          </label>
        </li>
        <li>  
          <label>
            <input type="checkbox" name="Bug" [(ngModel)]="bugChecked" (change)="onCheckedChange()">
            Bug
          </label>
        </li>
        <li>  
          <label>
            <input type="checkbox" name="OnlyParents" [(ngModel)]="onlyParentsChecked" (change)="onOnlyParentsCheckedChange()">
            nur Eltern anzeigen
          </label>
        </li>
      </ul> 
    </fieldset> 
  </form>
  
