<hr>
<p class="title">#{{ backlogTask.id }} - Title: {{ backlogTask.title }}</p>
<div [ngSwitch]=backlogTask.taskKind>
    <p *ngSwitchCase="0">Kind: {{ "FEATURE" }}</p>
    <p *ngSwitchCase="1">Kind: {{ "Refactoring" }}</p>
    <p *ngSwitchCase="2">Kind: {{ "BUG" }}</p>
</div>
Description: {{ backlogTask.description }}
<div [ngSwitch]=backlogTask.status>
    <p *ngSwitchCase="0">Status: {{ "New" }}</p>
    <p *ngSwitchCase="1">Status: {{ "Postponed" }}</p>
    <p *ngSwitchCase="2">Status: {{ "Planned" }}</p>
    <p *ngSwitchCase="3">Status: {{ "InProgress" }}</p>
    <p *ngSwitchCase="4">Status: {{ "Done" }}</p>
</div>
<button class="editbutton" (click)="onEditClick()">Edit</button>
<button class="deletebutton" (click)="onDeleteClick()">Delete</button>
<button class="addworkbutton" (click)="onAddWorkClick()">Add Work</button>