.title{
    background-color: lightgray;
}

.editbutton {
    background-color: skyblue;
    border-radius: 10px;
    color: seashell;
    border-color: skyblue;
    border-width: 10px;
}

.deletebutton {
    background-color: rgb(138, 23, 28);
    border-radius: 10px;
    color: seashell;
    border-color: rgb(138, 23, 28);
    border-width: 10px;
}