<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div>
        <label for="taskTitle">Title: </label>
        <input 
            type="text"
            id="taskTitle"
            name="taskTitle"
            [(ngModel)] = "currentTask.title"
            required
            >
    </div>
    <div>
        <label for="taskDescription">Description: </label>
        <textarea
            id="taskDescription"
            name="taskDescription"
            rows="3"
            [(ngModel)] = "currentTask.description"
            required>
        </textarea>
    </div>
    <div>   
        <label for="taskKind">Art: </label>
        <select 
            id="taskKind"
            name="taskKind"
            [(ngModel)] = "currenTaskStringKind"
            required>
            <option value="Implementation">Implementation</option>
            <option value="Testing">Testing</option>
            <option value="Documentation">Dokumentation</option>
        </select>
    </div>
    <div>   
        <label for="taskStatus">Status: </label>
        <select 
            id="taskStatus"
            name="taskStatus"
            [(ngModel)] = "currenTaskStringStatus"
            required>
            <option value="New">New</option>
            <option value="Postponed">Postponed</option>
            <option value="Planned">Planned</option>
            <option value="InProgress">InProgress</option>
            <option value="Done">Done</option>
            <option value="TestCovered">TestCovered</option>
        </select>
    </div>
    <div>
        <button 
            type="submit"
            [disabled]="!f.valid"
            >
            {{ submitCaption }}
        </button>
    </div>
</form>
